<strong> Olá, {{deliveryman}} </strong>
<p> Existe uma nova entrega pra você, confira as informações abaixo: </p>
<p>
    <strong>Destinatário:</strong> {{recipient}} <br />
    <strong>Data/Hora:</strong> {{date}} <br />
    <strong>Endereço:</strong> <br />
    <strong>Rua:</strong> {{rua}}


    <br />
    <small>
        Aguardamos a retirada do objeto.
    </small>
</p>
